.in-page-title{
    margin:30px;
    text-align: center;
    color: rgb(255,255,255);
    font-family: Inconsolata;
    font-weight: 400;
    font-size: 96px;
}
.search-bar-container{
    margin-top: 40px;
    color:rgb(255,255,255);
    display:flex;
    justify-content: center;
}
.type-searchr-bar-container{
    flex-direction: column;
    background-color: rgba(0,0,0,0.8);
    width: 500px;
    height: 60px;
    margin-right: 20px;
    border-radius:40px;
    align-self: center;
    position: relative;
    padding:0px 0px 0px 20px;
    border: none;
    outline: none;
    font-size: 1.25rem;
}
.icon-searchbar-container{
    flex-direction: column;
    background-color: rgba(0,0,0,0.8);
    display:inline-block;
    width:60px;
    height:60px;
    border-radius:30px;
    align-self: center;
    position:relative;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}
.icon-searchbar-container:hover{
    cursor: pointer;
}

.search-icon{
    margin-top:18px;
    width:25px;
    position: relative;
    transition: 5ms ease-in-out;
    -webkit-transition: 5ms ease-in-out;
    -moz-transition: 5ms ease-in-out;
    -ms-transition: 5ms ease-in-out;
    -o-transition: 5ms ease-in-out;
}

.search-icon:hover{
    width: 30px;
}

